[*.cs]

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = false

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none
