@model List<pizzashop.Entity.ViewModels.Category>;

<h5 class="fw-bold ps-3 mt-2">Category</h5>
<ul class="list-unstyled slider-content">
    

    @if (Model != null && Model.Count > 0)
    { var index=0;
        @foreach (var category in Model)
        {
            <li><a class="fw-bold @(index==1 ? "active" : "") category" href="#"  data-catid="@category.Categoryid" >@category.Categoryname</a></li>
            index++;
        }
    }

</ul>