@using Newtonsoft.Json
@{

  Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
  var orderId = Context.Request.Query["orderId"];
}



<link rel="stylesheet" href="~/css/OrderMenu.css" />

<div class="offcanvas-lg offcanvas-start" tabindex="-1" id="categoryList" aria-labelledby="categoryList">
  <div class="categoryList">

  </div>
</div>

<div class="d-flex flex-column flex-lg-row gap-4 w-100">

  <div class="main-content w-100">
    <div class="d-block d-md-flex flex-md-row justify-content-between mb-3">
      <div class="d-flex align-items-center justify-content-start">
        <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryList"
          aria-controls="categoryList">
          <i class="fs-3 bi bi-list"></i>
        </button>

        <div class="search-field position-relative">
          <input class="search form-control me-2 border-0" type="search" placeholder="Search" id="searchInput"
            aria-label="Search">
          <i class="bi bi-search custom-icon"></i>
        </div>
      </div>

      <div class="d-flex gap-3 justify-content-center justify-content-sm-end flex-sm-nowrap flex-wrap">
        <div class="d-flex flex-row  align-items-center">
          <span class="dot me-2" style="background-color: green;border-color: green"></span>
          <span>Vegetarian</span>
        </div>
        <div class="d-flex flex-row align-items-center">
          <span class="dot me-2" style="background-color: red;border:4px solid red "></span>
          <span>Non-Vegetarian</span>
        </div>
        <div class="d-flex flex-row align-items-center">
          <span class="dot me-2" style="background-color: orange;border-color: orange;"></span>
          <span>Vegan</span>
        </div>
      </div>

    </div>

    <div class="d-flex flex-wrap  justify-content-lg-start justify-content-center  w-100 gap-4 item-list">

    </div>
  </div>

  @if (!string.IsNullOrEmpty(orderId))
  {
    <div class="order-details-partial card bg-white p-3 w-100" style="height:100%;">
    </div>
  }

</div>

<div class="modifier-list"></div>


<!-- OrderWise Comment -->
<div class="modal fade modal-delete" id="OrderWiseComment" tabindex="-1" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <input type="hidden" id="OrderId-comment">
      <div class="modal-header">
        <h5 class="modal-title" id="OrderWiseComment">Order Wise Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating ">
          <textarea id="textareaID" class="form-control" placeholder="" style="height: 100px"></textarea>
          <label for="textareaID">Comment*</label>
          <span class="text-danger" id="comment-error"></span>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-primary Add-Order-Comment">YES</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>



<script>

  var GCatId = "";
  let OrderItem = [];
  let selectedModifiers = {};

  function renderOrderItems() {
    console.log(OrderItem);
    $("#order-items-container").empty();

    OrderItem.forEach((item, index) => {
      let modifierList = "";

      if (Array.isArray(item.Modifiers)) {
        modifierList = item.Modifiers.map(m =>
          `<li>${m.Modifiername}   ₹${m.Rate}</li>`
        ).join("");
      }

      const modifiersTotalPrice = item.Modifiers?.reduce((total, modifier) => total + modifier.Rate, 0) * item.Quantity;

      const itemHtml = `
            <div class="rounded border mb-2">
                <div class="d-flex">
                    <div class="accordion d-flex flex-column justify-content-start gap-2 p-2 w-50">
                        <button class="accordion-button collapsed p-2 bg-transparent border-0"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-${index}"
                                aria-expanded="false"
                                aria-controls="collapse-${index}">
                        <strong class="ps-1">${item.Itemname}</strong>
                        </button>
                        <div id="collapse-${index}" class="accordion-collapse collapse ">
                            <div class="ps-3">
                                <ul class="">
                                    ${modifierList}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around align-items-center flex-row w-50">
                        <div class="d-flex align-items-center border rounded px-2 py-1">
                            <i class="bi bi-dash cursor-pointer" onclick="updateQuantity(${index}, -1)"></i>
                            <span class="mx-2">${item.Quantity}</span>
                            <i class="bi bi-plus cursor-pointer" onclick="updateQuantity(${index}, 1)"></i>
                        </div>
                        <div class="text-center">
                            <div class="fw-bold">₹${item.Rate * item.Quantity}</div>
                           <div class="text-muted small">${modifiersTotalPrice ? `₹${modifiersTotalPrice}` : ''}</div>
                        </div>
                        <i class="bi bi-trash text-muted fs-6 cursor-pointer" onclick="removeItem(${index})"></i>
                    </div>
                </div>
            </div>
        `;

      $("#order-items-container").append(itemHtml);
    });
    renderFlatTaxes(taxes);
    calculateTaxesAndDisplay(OrderItem, taxes);

  }

  @* load Category details *@
    function loadCategoryList() {
      $.ajax({

        url: "/MenuOrderApp/CategoryList",
        type: "GET",
        success: function (data) {
          $('.categoryList').html(data);
          $(`.category`).removeClass('active');
          $(`.category[data-catid="${GCatId}"]`).addClass('active');
        },
        error: function () {
          alert("error in load Item.")
        }
      });
    }


  @* load item table *@
    function loadItemList(catid) {
      GCatId = catid;
      let search = $("#searchInput").val();

      $.ajax({

        url: "/MenuOrderApp/ItemList",
        type: "GET",
        data: { id: catid, search: search },
        success: function (data) {
          $('.item-list').html(data);
          loadCategoryList();
        },
        error: function () {
          alert("error in load category.")
        }
      });
    }

  @* load item table *@
    function loadOrderDetails() {

      const Id = new URLSearchParams(window.location.search).get('orderId');
      const orderId = parseInt(Id)

      $.ajax({
        url: "/MenuOrderApp/OrderDetails",
        type: "GET",
        data: { id: orderId },
        success: function (data) {
          $('.order-details-partial').html(data);
        },
        error: function () {
          alert("error in load category.")
        }
      });
    }

  function searchcross() {
    let search = $("#searchInput").val();
    if (search === "") {
      var element = $(".custom-icon");
      element.removeClass("d-none");
    }
  }

  // Function to check if the modifiers are the same
  function isSameModifiers(modifiersA = [], modifiersB = []) {
    // Extract the modifierid from both arrays and convert them into sets
    const setA = new Set(modifiersA.map(m => m.Modifierid));
    const setB = new Set(modifiersB.map(m => m.Modifierid));

    // Check if both sets have the same size
    if (setA.size !== setB.size) {
      return false;
    }

    // Check if every element in setA is also present in setB
    for (let item of setA) {
      if (!setB.has(item)) {
        return false;
      }
    }

    return true; // If both conditions pass, they are the same
  }

  @* update item *@
    function updateQuantity(index, change) {
      const item = OrderItem[index];
      const isLocked = item.ReadyQuantity >= item.Quantity;

      if (change < 0 && isLocked) {
        toastr.error("Cannot decrease quantity. Items are already prepared.")
        return;
      }

      item.Quantity += change;

      if (item.Quantity <= 0) {
        OrderItem.splice(index, 1);
      }

      renderOrderItems();
    }

  @* remove item *@
    function removeItem(index) {
      const item = OrderItem[index];
      const isLocked = item.ReadyQuantity > 0;

      if (isLocked) {
        toastr.error("Cannot delete this item. It's already marked as ready.")
        return;
      }

      OrderItem.splice(index, 1);
      renderOrderItems();
    }


  @* Flat amount display *@

    function renderFlatTaxes(taxes) {
      let flatTaxHtml = '';

      const selectedFlatTaxIds = orderTaxes
        .filter(t => t.Taxid !== 0)
        .map(t => t.Taxid);



      taxes.filter(t => t.taxtype === 1).forEach(tax => {
        const isChecked = selectedFlatTaxIds.includes(tax.Taxid) ? 'checked' : '';
        flatTaxHtml += `
        <div class="form-check">
            <input class="form-check-input flat-tax-checkbox" type="checkbox"
                data-taxid="${tax.Taxid}" data-taxvalue="${tax.Taxvalue}" id="tax_${tax.Taxid}" ${isChecked}>
            <label class="form-check-label" for="tax_${tax.taxid}">
                ${tax.Taxname} 
            </label>
        </div>`;
      });

      $('#flatTaxList').html(flatTaxHtml);
      calculateTaxesAndDisplay(OrderItem, taxes);
    }

  function calculateTaxesAndDisplay(orderItems, taxes) {
    const orderId = new URLSearchParams(window.location.search).get('orderId');
    let subTotal = 0;
    let defaultTaxTotal = 0;
    let percentageTaxTotal = 0;
    let flatTaxTotal = 0;
    let taxBreakdownHtml = '';
    let itemmodifierTotal = 0;

    OrderTax = [];

    orderItems.forEach(item => {
      const itemTotal = item.Rate * item.Quantity;
      itemmodifierTotal = itemTotal;

      // Add modifier prices
      if (item.Modifiers && item.Modifiers.length > 0) {
        item.Modifiers.forEach(mod => {
          itemmodifierTotal += (mod.Rate * item.Quantity);
        });
      }

      subTotal += itemmodifierTotal;

      if (item.Isdefaulttax === true) {
        const taxAmount = (itemTotal * item.Taxpercentage) / 100;
        defaultTaxTotal += taxAmount;
      }

    });

    // Percentage taxes (not default tax)
    taxes.filter(t => t.taxtype === 0 && t.Taxid != 0).forEach(tax => {
      const taxAmount = (subTotal * tax.Taxvalue) / 100;

      percentageTaxTotal += taxAmount;

      // Push percentage tax
      OrderTax.push({
        Orderid: orderId,
        Taxid: tax.Taxid,
        Taxvalue: taxAmount
      });



      taxBreakdownHtml += `
        <div class="d-flex justify-content-between fs-6">
            <div>${tax.Taxname}</div>
            <div class="taxamount">₹${taxAmount.toFixed(2)}</div>
        </div>`;

    });

    // Flat taxes (only if checked)
    $('.flat-tax-checkbox:checked').each(function () {
      const taxId = $(this).data('taxid');
      const taxValue = parseFloat($(this).data('taxvalue'));
      const tax = taxes.find(t => t.Taxid == taxId);
      const taxName = tax ? tax.Taxname : 'Flat Tax';

      flatTaxTotal += taxValue;

      // Push flat tax
      OrderTax.push({
        Orderid: orderId,
        Taxid: taxId,
        Taxvalue: taxValue
      });


    });

    const totalTax = defaultTaxTotal + percentageTaxTotal + flatTaxTotal;
    const totalAmount = subTotal + totalTax;

    taxBreakdownHtml += `
        <div class="d-flex justify-content-between fs-6">
            <div>DafaultTax(Item)</div>
            <div class="taxamount">₹${defaultTaxTotal}</div>
        </div>`;

    OrderTax.push({
      Orderid: orderId,
      Taxid: 0,
      Taxvalue: defaultTaxTotal
    });


    // Render all
    $('#subtotal').text(`₹${subTotal.toFixed(2)}`);
    $('#taxBreakdown').html(taxBreakdownHtml);
    $('#totalAmount').text(`₹${totalAmount.toFixed(2)}`);
  }



  $(document).ready(function () {

    loadCategoryList();
    loadItemList(0);
    loadOrderDetails();

    @* chekbox change *@
      // Trigger recalculation when flat tax is checked/unchecked
      $(document).on('change', '.flat-tax-checkbox', function () {
        calculateTaxesAndDisplay(OrderItem, taxes);
      });

    @* load items onlick *@
      $(document).on("click", ".category", function (e) {
        e.preventDefault();
        var categoryId = $(this).data("catid");
        loadItemList(categoryId);
      });

    @* search from itenms *@
      let searchTimer;
    $("#searchInput").on("input", function () {
      var element = $(".custom-icon");
      element.addClass("d-none");
      clearTimeout(searchTimer);
      searchTimer = setTimeout(function () {
        loadItemList(GCatId);
        // Reset to page 1 when searching
      }, 500); // 500ms delay to avoid excessive requests
      searchcross();
    });



    @* add into Favourite *@
      $(document).on("click", ".Favourite", function (e) {
        e.stopPropagation();
        var itemId = $(this).data("itemid");

        $.ajax({
          url: '/MenuOrderApp/ToggleFavourite',
          type: 'POST',
          data: { id: itemId },
          success: function (isFavourite) {
            if (isFavourite.isFavourite == true) {
              loadItemList(-1);
              toastr.success("Item Added in Favourite.")
            } else {
              loadItemList(-1);
              toastr.error("Item Remove From the Favourite.")
            }
          },
          error: function () {
            alert("Error toggling favourite status.");
          }
        });
      });



    $(document).on("click", ".itemCard", function (e) {
      e.preventDefault();

      const orderId = new URLSearchParams(window.location.search).get('orderId');

      var itemId = $(this).data("item-id");
      const itemName = $(this).data("item-name");
      const itemPrice = parseFloat($(this).data("item-price"));
      const Isdefaulttax = $(this).data("is-default") == "True";
      const taxPercentage = parseFloat($(this).data("tax-percentage"));

      selectedModifiers = {};


      $.ajax({
        url: `/MenuOrderApp/ModifierList?orderId=${orderId}`,
        type: "GET",
        data: { id: itemId },
        success: function (data) {
          if (data.success === false) {
            // Check if item without modifiers already exists
            const itemExists = OrderItem.find(item => item.Itemid === itemId && (!item.Modifiers || item.Modifiers.length === 0));

            if (itemExists) {
              // Increase quantity if already exists
              const index = OrderItem.findIndex(item => item.Itemid === itemId && (!item.Modifiers || item.Modifiers.length === 0));
              OrderItem[index].Quantity += 1;
            }
            else {

              OrderItem.push({
                Orderitemid: 0,
                Itemid: itemId,
                Itemname: itemName,
                Rate: itemPrice,
                ReadyQuantity: 0,
                Quantity: 1,
                Isdefaulttax: Isdefaulttax,
                Taxpercentage: taxPercentage
              });
            }
            renderOrderItems();

          }
          else {
            $('.modifier-list').html(data);
            // Store current uniqueId in modal
            $("#modifierData").data("item-id", itemId);
            $("#modifierData").data("item-name", itemName);
            $("#modifierData").data("item-price", itemPrice);
            $("#modifierData").data("is-default", Isdefaulttax);
            $("#modifierData").data("tax-percentage", taxPercentage);
            $("#modifierData").modal("show");
          }
        },
        error: function () {
          alert("error in load category.")
        }
      });

    });

    $(document).on("click", ".modifier-card", function () {

      var $card = $(this);
      var modifierGroupId = $card.closest(".modifier-group").data("groupid");
      var modifierId = $card.data("modifierid");

      var maxSelection = parseInt($card.closest(".modifier-group").data("maxselection")) || Infinity;

      if (!selectedModifiers[modifierGroupId]) {
        selectedModifiers[modifierGroupId] = [];
      }

      var currentSelections = selectedModifiers[modifierGroupId];
      var isSelected = $card.hasClass("selected");

      if (isSelected) {
        selectedModifiers[modifierGroupId] = currentSelections.filter(id => id !== modifierId);
        $card.removeClass("selected");

      } else {
        if (currentSelections.length >= maxSelection) {
          toastr.warning("You can select a maximum of " + maxSelection + " modifiers for this group.");
          return;
        }
        selectedModifiers[modifierGroupId].push(modifierId);
        $card.addClass("selected");
      }
    });

    $(document).on("click", "#add-button", function () {
      console.log("in add button");
      var allValid = true;


      $(".modifier-group").each(function () {
        var $group = $(this);
        var groupId = $group.data("groupid");
        var minSelection = parseInt($group.data("minselection")) || 0;
        var selected = selectedModifiers[groupId] || [];

        if (selected.length < minSelection) {
          toastr.warning("Group " + groupId + ": You must select at least " + minSelection + " modifier(s).");
          allValid = false;
        }
      });

      if (allValid) {
        // Proceed to add item to cart or next step
        console.log("All validations passed!");

        // Get item details from modal or clicked item
        const itemId = $("#modifierData").data("item-id");
        const itemName = $("#modifierData").data("item-name");
        const itemPrice = parseFloat($("#modifierData").data("item-price"));
        const Isdefaulttax = $("#modifierData").data("is-default");

        const taxPercentage = parseFloat($("#modifierData").data("tax-percentage"));

        let flatModifiers = [];

        $(".modifier-card.selected").each(function () {
          flatModifiers.push({
            Modifierid: $(this).data("modifierid"),
            Modifiername: $(this).data("modifiername"),
            Rate: parseFloat($(this).data("rate"))
          });
        });


        // Check if item is already in cart by uniqueId
        const itemExists = OrderItem.find(item => item.Itemid === itemId && isSameModifiers(item.Modifiers, flatModifiers));

        if (itemExists) {
          // If item already exists, update its quantity
          const index = OrderItem.findIndex(i => i.Itemid === itemId && isSameModifiers(i.Modifiers, flatModifiers));
          OrderItem[index].Quantity += 1;
        } else {

          OrderItem.push({
            Orderitemid: 0,
            Itemid: itemId,
            Itemname: itemName,
            Rate: itemPrice,
            Modifiers: flatModifiers,
            ReadyQuantity: 0,
            Quantity: 1,
            Isdefaulttax: Isdefaulttax,
            Taxpercentage: taxPercentage
          });

        }
        $("#modifierData").modal("hide");
        console.log(OrderItem);
        renderOrderItems();
      }
    });


    @* save order *@
      $(document).on("click", ".saveorder", function (e) {

        const orderId = new URLSearchParams(window.location.search).get('orderId');

        const Bill = {
          Orderid: orderId,
          Items: OrderItem,
          OrderTax: OrderTax
        };

        $.ajax({
          url: '/MenuOrderApp/SaveOrder',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(Bill),
          success: function (response) {
            if (response.success) {
              toastr.success(response.message);
            }
            else {
              toastr.error(response.message);
            }
          },
          error: function (err) {
            console.error('Error saving order:', err);
          }
        });
      });

    @*Get orderWise comment *@
      $(document).on("click", ".order-wise-comment", function (e) {
        e.preventDefault();
        var orderId = $(this).data("orderid");

        $.ajax({
          url: '/MenuOrderApp/OrderComment',
          type: 'GET',
          data: { id: orderId },
          success: function (response) {
            console.log(response);
            if (response.success) {
              $("#OrderWiseComment").modal("show");
              $("#textareaID").val(response.message);
              $("#OrderId-comment").val(orderId);
            } else {
              toastr.error(response.message);
            }
          },
          error: function () {
            alert("Error toggling favourite status.");
          }
        });


      });

    $(document).on("click", ".Add-Order-Comment", function (e) {
      e.preventDefault();

      var Comment = $("#textareaID").val();
      


      if (Comment.length <= 0) {
        $("#comment-error").text("Comment is required");
        return;
      } else {
        $("#comment-error").text("");
        var orderid = $("#OrderId-comment").val();
        $.ajax({
          url: '/MenuOrderApp/AddOrderComment',
          type: 'POST',
          data: { comment: Comment, orderid: orderid },
          success: function (response) {
            if (response.success) {
              toastr.success(response.message);
              $("#OrderWiseComment").modal("hide");
            } else {
              toastr.error(response.message);
            }
          },
          error: function (xhr, status, error) {
            console.error('Error fetching waiting token:', error);
          }
        });
      }
    });



  });
</script>
