@{

  Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
  var orderId = Context.Request.Query["orderId"];
}


<link rel="stylesheet" href="~/css/OrderMenu.css" />




<div class="offcanvas-lg offcanvas-start" tabindex="-1" id="categoryList" aria-labelledby="categoryList">
  <div class="categoryList">

  </div>
</div>

<div class="d-flex flex-column flex-lg-row gap-4 w-100">

  <div class="main-content w-100">
    <div class="d-block d-md-flex flex-md-row justify-content-between mb-3">
      <div class="d-flex align-items-center justify-content-start">
        <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryList"
          aria-controls="categoryList">
          <i class="fs-3 bi bi-list"></i>
        </button>

        <div class="search-field position-relative">
          <input class="search form-control me-2 border-0" type="search" placeholder="Search" id="searchInput"
            aria-label="Search">
          <i class="bi bi-search custom-icon"></i>
        </div>
      </div>

      <div class="d-flex gap-3 justify-content-center justify-content-sm-end flex-sm-nowrap flex-wrap">
        <div class="d-flex flex-row  align-items-center">
          <span class="dot me-2" style="background-color: green;border-color: green"></span>
          <span>Vegetarian</span>
        </div>
        <div class="d-flex flex-row align-items-center">
          <span class="dot me-2" style="background-color: red;border:4px solid red "></span>
          <span>Non-Vegetarian</span>
        </div>
        <div class="d-flex flex-row align-items-center">
          <span class="dot me-2" style="background-color: orange;border-color: orange;"></span>
          <span>Vegan</span>
        </div>
      </div>

    </div>

    <div class="d-flex flex-wrap  justify-content-lg-start justify-content-center  w-100 gap-4 item-list">

    </div>
  </div>

  @if (!string.IsNullOrEmpty(orderId))
  {
    <div class="card bg-white p-3 w-100" style="height:100%; ">

      <div class="d-flex justify-content-between align-items-center">

        <div class="d-flex justify-content-start align-items-center">
          <div class="d-flex align-items-center justify-content-center p-1"
            style="background-color:  #adc3e4; width:100px height:100px">
            <img src="~/images/order-table.png" width="42px" height="42px">
          </div>
          <div class="d-flex flex-column ps-2 fs-6">
            <span>sectionname</span>
            <span><b>Table: </b> T1,T2</span>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end gap-3">
          <div class=" bill-top-btn">
            <i class="bi bi-qr-code-scan"></i>
          </div>
          <div class=" bill-top-btn">
            <i class="bi bi-person-lines-fill"></i>
          </div>
          <div class=" bill-top-btn">
            <i class="bi bi-chat-left-text"></i>
          </div>
        </div>

      </div>

      <div class="w-100 pt-4">

        <div class="d-flex text-secondary ">

          <div class="d-flex justify-content-start w-50">
            <h6><strong>Iteam</strong></h6>
          </div>

          <div class="d-flex justify-content-around align-items-center flex-row w-50">
            <h6> <strong>Quantity</strong></h6>
            <h6><strong>Amount</strong></h6>
            <h6></h6>
          </div>

        </div>


        <div class=" rounded border mb-2">

          <div class=" d-flex">

            <div class="accordion d-flex flex-column align-items-center justify-content-start gap-2 p-2 w-50">

              <button class="accordion-button collapsed p-2 bg-transparent border-0" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse-abc" aria-expanded="false"
                aria-controls="collapse-abc">
                <strong class="ps-1">ItemName</strong>
              </button>

              <div id="collapse-abc" class="accordion-collapse  collapse" data-bs-parent="#accordionExample">
                <div class=" ps-1">
                  <ul class="mb-0">
                    @* @foreach (var topping in item.OrderModifierOnly)
                                { *@
                    <li>topping.ModifierName ₹topping.RateModifier</li>
                    <li>topping.ModifierName ₹topping.RateModifier</li>
                    @* } *@
                  </ul>
                </div>
              </div>

            </div>

            <div class="d-flex justify-content-around align-items-center flex-row w-50">

              <div class="d-flex align-items-center border rounded px-2 py-1">
                <i class="bi bi-dash cursor-pointer"></i>
                <span class="mx-2">1</span>
                <i class="bi bi-plus cursor-pointer"></i>
              </div>

              <div class="text-center">
                <div class="fw-bold">₹10</div>
                <div class="text-muted small">₹20</div>
              </div>

              <i class="bi bi-trash text-muted fs-6 cursor-pointer"></i>
            </div>



          </div>





        </div>



      </div>

      <div class="border-bottom pt-3"></div>
      <div class="text-secondary mt-2">

        <div class="d-flex justify-content-between fs-6">
          <div>Sub Total :</div>
          <div>SubTotal</div>
        </div>

        <div class="d-flex justify-content-between fs-6">
          <div>TaxName :</div>
          <div>
            TaxAmount
          </div>
        </div>

        <div>
          <hr style="background-color: #1f73ae; height: 3px; border: 0;">
          <div class="d-flex justify-content-between fw-bolder" style="color: #087cc4;">
            <div class="fs-5">Total</div>
            <div>200</div>
          </div>

          <div class="d-flex justify-content-between ">
            <div class="fs-5 fw-bolder" style="color: #087cc4;">
              Payment Method</div>
            <div class="d-flex flex-row gap-3 fs-6 " style="font-weight: 500;">
              <div class="d-flex flex-row align-items-center gap-2">
                <input type="radio" id="Cash">
                <span for="Cash">Cash</span>
              </div>
              <div class="d-flex flex-row align-items-center gap-2">
                <input type="radio" id="card">
                <span for="card">Card</span>
              </div>
              <div class="d-flex flex-row align-items-center gap-2">
                <input type="radio" id="UPI">
                <span for="UPI">UPI</span>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="mt-5 ps-5 d-flex flex-row gap-3 pb-3">
        <button type="button" class="btn p-3 w-100" id="search-btn"
          style="background-color:#087cc4 ;border-color:#087cc4;color:#fff">Save</button>
        <button type="button" class="btn p-3 clear-btn w-100"
          style="color:#087cc4;border-color:#087cc4;">Complete</button>
        <button type="button" class="btn p-3 clear-btn w-100" style="color:#087cc4;border-color:#087cc4;">Generate
          Invoice</button>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn p-3 clear-btn w-40" style="color:#087cc4;border-color:#087cc4;">cancel</button>
      </div>


    </div>
  }

</div>


<script>
  $(document).ready(function () {

    var GCatId = "";

    @* load Category details *@
      function loadCategoryList() {
        $.ajax({

          url: "/MenuOrderApp/CategoryList",
          type: "GET",
          success: function (data) {
            $('.categoryList').html(data);
            $(`.category`).removeClass('active');
            $(`.category[data-catid="${GCatId}"]`).addClass('active');
          },
          error: function () {
            alert("error in load Item.")
          }
        });
      }

    loadCategoryList();
    loadItemList(0);

    @* load item table *@
      function loadItemList(catid) {
        GCatId = catid;
        let search = $("#searchInput").val();

        $.ajax({

          url: "/MenuOrderApp/ItemList",
          type: "GET",
          data: { id: catid, search: search },
          success: function (data) {
            $('.item-list').html(data);
            loadCategoryList();
          },
          error: function () {
            alert("error in load category.")
          }
        });
      }

    @* load items onlick *@
      $(document).on("click", ".category", function (e) {
        var categoryId = $(this).data("catid");
        loadItemList(categoryId);
      });

    @* search from itenms *@
      let searchTimer;
    $("#searchInput").on("input", function () {
      var element = $(".custom-icon");
      element.addClass("d-none");
      clearTimeout(searchTimer);
      searchTimer = setTimeout(function () {
        loadItemList(GCatId);
        // Reset to page 1 when searching
      }, 500); // 500ms delay to avoid excessive requests
      searchcross();
    });

    function searchcross() {
      let search = $("#searchInput").val();
      if (search === "") {
        var element = $(".custom-icon");
        element.removeClass("d-none");
      }
    }

    @* add into Favourite *@
      $(document).on("click", ".Favourite", function (e) {
        var itemId = $(this).data("itemid");

        $.ajax({
          url: '/MenuOrderApp/ToggleFavourite',
          type: 'POST',
          data: { id: itemId },
          success: function (isFavourite) {
            if (isFavourite.isFavourite == true) {
              loadItemList(-1);
              toastr.success("Item Added in Favourite.")
            } else {
              loadItemList(-1);
              toastr.error("Item Remove From the Favourite.")
            }
          },
          error: function () {
            alert("Error toggling favourite status.");
          }
        });



      });





  });
</script>
