@model pizzashop.Entity.ViewModels.WaitingListAssignTable

<div class="modal fade modal-delete" id="AssignTable" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTable">Assign Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="assignTable-form">
                <div class="modal-body d-flex flex-column flex-sm-row justify-content-center gap-3">
                    <input type="hidden" class="waitingToken" asp-for="Waitingtokenid">
                    <div class="form-floating w-100 position-relative mb-2">
                        <div class="dropdown w-100">
                            <button class="custom-select-dropdown" type="button" id="sectionDropdownBtn"  asp-for="sectionid"
                                data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside">
                                Select Sections
                            </button>
                            <ul class="dropdown-menu w-100 overflow-y-auto" id="sectionDropdownMenu" 
                                style="max-height: 200px;overflow-x: hidden;">
                                <!-- Section checkboxes will be added here -->
                            </ul>
                        </div>
                    </div>
                    <div class="form-floating w-100 position-relative">
                        <div class="dropdown w-100">
                            <button class="custom-select-dropdown" type="button" id="tableDropdownBtn" 
                            data-bs-auto-close="outside"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Select Tables
                            </button>
                            <ul class="dropdown-menu w-100 overflow-y-auto" id="tableDropdownMenu"
                                style="max-height: 200px;overflow-x: hidden;">
                                <!-- Table checkboxes will be added here dynamically -->
                            </ul>
                        </div>
                        <span class="text-danger text-end table-list"></span>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center justify-content-sm-end  gap-2">
                    <button type="button" class="btn btn-primary Assign-tables-yes">Assign</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </form>
        </div>
    </div>
</div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>