@model pizzashop.Repository.ViewModels.Login;

@{

    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="login-rightSide-content">
    <div class="d-flex justify-content-center align-items-center gap-2">
        <img class="logo" src="../images/pizzashop_logo.png">
        <span class="app-name"><b>PIZZASHOP</b></span>
    </div>

    <form asp-controller="Auth" asp-action="Login" class="form d-flex flex-column gap-3 ">

        <h1 class="heading-text">
            Welcome,
        </h1>

        <div>

            <div class="position-relative">

                <input placeholder="E-mail*" asp-for="Email" type="text" class="form-control" id="email">
                <i class="bi bi-person-fill custom-icon"></i>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>

            <div class="position-relative">
                <input placeholder="Password*" asp-for="Password" type="password" class="form-control" id="password">
                <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i>
            </div>

            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @* if you want to take as boolean give value=true *@

        <div class="button-forgotlink">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="RememberMe" id="invalidCheck2">
                <label class="form-check-label" for="invalidCheck2">
                    Remember me
                </label>
            </div>


            <div>
                <a asp-controller="Auth" asp-action="Forget">Forget Password?</a>
            </div>
        </div>

        <button type="submit">
            Login
        </button>

    </form>


</div>

<script>
    $(document).ready(function () {

        $(document).on("click", ".eye-icon", function () {
            let passwordInput = $("#password");
            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                $(this).removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
            }
            else {
                passwordInput.attr("type", "password");
                $(this).removeClass("bi-eye-fill").addClass("bi-eye-slash-fill");
            }
        });

        $(document).ready(function () {
            $("#email").on("input", function () {
                localStorage.setItem("userEmail", $(this).val());
            });
        });

    });
</script>