@{

    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model pizzashop.Entity.ViewModels.ResetPassword;

<link rel="stylesheet" href="~/css/resetPassword.css" />


<div class="login-rightSide-content">

    <div class="d-flex justify-content-center align-items-center gap-2">
        <img class="logo" src="../images/pizzashop_logo.png">
        <span class="app-name"><b>PIZZASHOP</b></span>
    </div>


    <form asp-controller="Auth" asp-action="ResetPassword" method="post" class="form d-flex flex-column gap-3 ">

        <h2 class="heading-text">
            Reset Your Password
        </h2>

        <p class="instruction">Enter your email and we'll send you a link to reset your password.</p>
        <input type="hidden"  value="@ViewBag.Email" asp-for="Email" />
          <input type="hidden"  value="@ViewBag.token" asp-for="token" />


        <div>
            <div class="position-relative">
                <input placeholder="New Password*" type="password" class="form-control password" id="validationServer03"
                    aria-describedby="validationServer03Feedback" asp-for="Password">
                <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i>
            </div>
           
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>


        <div>
            <div class="position-relative">
                <input placeholder="confirm New Password*" type="password" class="form-control password" id="validationServer03" asp-for="ConfirmPassword"
                 aria-describedby="validationServer03Feedback">
                <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i>
            </div>
           
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


        <button type="submit">
            Submit
        </button>

        <div class="back-toLogin">
            <a href="../pages/login.html">Back to login</a>
        </div>

    </form>

</div>


<script>
    $(document).ready(function () {

        $(document).on("click", ".eye-icon", function () {
             let passwordInput = $(this).prev("input");
            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                $(this).removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
            }
            else {
                passwordInput.attr("type", "password");
                $(this).removeClass("bi-eye-fill").addClass("bi-eye-slash-fill");
            }
        });
    });
</script>