
<div class="modal fade modal" id="addNewSection" tabindex="-1" aria-labelledby="addNewSection"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewSection">Add Section</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <form id="">
                <div class="modal-body">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"  id="MGname"
                            placeholder="Category name" required>
                        <label for="MGname">Name*</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Add a Description of Xategory"
                            id="Description"></textarea>
                        <label for="Description">Description</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary sav-btn" 
                        data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
