@{
    ViewData["Title"] = "Dashboard Page";
}

<link rel="stylesheet" href="~/css/Menu.css" />

<div class="container-fluid main-content px-5 mt-50px">
    <div class="mb-2 d-flex justify-content-between align-items-md-center flex-md-row flex-column">
        <div class="heading-text py-2">
            <h1><b>Dashboard</b></h1>
        </div>

        <div class="form-floating py-2" style="height:60px">
            <select class="form-select form-control" id="time-main-filter" aria-label="Floating label select example">
                <option value="1">All Time</option>

                <option value="2">Last 7 days</option>
                <option value="3">Last 30 days</option>
                <option value="4">Current Month</option>
                <option value="5">Custome Selection</option>
            </select>
            <label>Duration</label>
        </div>
    </div>


    <div class="row p-0">
        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="card p-3" style="height:250px">
                        <div class="row m-2 h-50 d-flex justify-content-end">
                            <img src="https://img.icons8.com/?size=100&id=A8guI1rGV88E&format=png&color=000000"
                                class="w-25 h-50">

                        </div>
                        <div class="row m-2 h-50 flex-column">
                            <span class="fs-1"><strong>1234</strong></span>
                            <span>Total Sales</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row m-2 h-50 d-flex justify-content-end">
                            hello

                        </div>
                        <div class="row m-2 h-50 flex-column">
                            <span class="fs-1"><strong>1234</strong></span>
                            <span>Total Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row m-2 h-50 d-flex justify-content-end">
                            hello

                        </div>
                        <div class="row m-2 h-50 flex-column">
                            <span class="fs-1"><strong>1234</strong></span>
                            <span>Avg. Order Value</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row m-2 h-50 d-flex justify-content-end">
                            hello

                        </div>
                        <div class="row m-2 h-50 flex-column">
                            <span class="fs-1"><strong>1234</strong></span>
                            <span>Avg. Waiting Time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row p-0">
        <div class="col-md-6  pb-3">
            <div class="card" style="height:250px">
                <div class="row h-25 p-3">
                    <span class="fs-4">Revenue</span>
                </div>
                <div class="row p-3">

                </div>
            </div>
        </div>

        <div class="col-md-6 pb-3">
            <div class="card " style="height:250px">
                <div class="row h-25 p-3">
                    <span class="fs-4">Customer Growth</span>
                </div>
                <div class="row p-3">

                </div>
            </div>
        </div>
    </div>

    <div class="row p-0">
        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row h-25 p-3">
                            <span class="fs-4">Top Selling Items</span>
                        </div>
                        <div class="row p-3">

                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row h-25 p-3">
                            <span class="fs-4">Least Selling Items</span>
                        </div>
                        <div class="row p-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row m-2 h-50 d-flex justify-content-end">
                            hello

                        </div>
                        <div class="row m-2 h-50 flex-column">
                            <span class="fs-1"><strong>1234</strong></span>
                            <span>Waiting List Count </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="card" style="height:250px">
                        <div class="row m-2 h-50 d-flex justify-content-end">
                            hello

                        </div>
                        <div class="row m-2 h-50 flex-column">
                            <span class="fs-1"><strong>1234</strong></span>
                            <span>New Customers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
