@model pizzashop.Entity.ViewModels.AddModifier;

<div class="modal fade" id="addNewModifier" tabindex="-1" aria-labelledby="addNewModifier" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewModifier">Add New Modifier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        <form id="add-modifier-form">

            <div class="modal-body">

                <!-- first row -->
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 mb-3">

 <div class="form-floating">
        <div class="dropdown">
            <button class=" form-control btn btn-light dropdown-toggle" type="button" id="modifierDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Select Modifiers Groups(s)
            </button>
            <ul class="dropdown-menu p-2" aria-labelledby="modifierDropdown">
                @foreach (var item in Model.MGList)
                {
                    <li class="form-check">
                        <input type="checkbox" class="form-check-input modifier-checkbox-addModifier" id="mod_@item.Value" value="@item.Value" />
                        <label class="form-check-label" for="mod_@item.Value">@item.Text</label>
                    </li>
                }
            </ul>
        </div>
              <span class="text-danger" id="requaired-mg" ></span>
        @* <label  for="modifierDropdown">Modifier</label> *@
    </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Name" asp-for="Modifiername"
                                        required>
                                    <label for="floatingInput">Name*</label>
                                      <span class="text-danger" asp-validation-for="Modifiername"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Rate" required
                                    value="0" asp-for="Rate">
                                <label for="floatingInput">Rate*</label>
                                  <span class="text-danger" asp-validation-for="Rate"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Quantity"
                                    required value="0" asp-for="Quantity">
                                <label for="floatingInput">Quantity*</label>
                                  <span class="text-danger" asp-validation-for="Quantity"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 doted-border">
                            <div class="form-floating">
                                 <select class="form-select" id="Unitid floatingSelect" asp-for=Unitid
                                            asp-items="Model.Units">
                                            <option value="">Select Unit</option>
                                        </select>
                                <label for="floatingSelect">Unit*</label>
                                  <span class="text-danger" asp-validation-for="Unitid"></span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="container-fluid form-floating">
                    <textarea class="form-control" placeholder="Give Description of this Modifier"
                        id="description" asp-for="Description"></textarea>
                    <label for="description">Description</label>
                      <span class="text-danger" asp-validation-for="Description"></span>
                </div>


            </div>


            <div class="modal-footer d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-primary" id="add-modifier">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>

        </form>


        </div>
    </div>
</div>


@* <script>
$(document).ready(function () {

    $(".modifier-checkbox").change(function () {
        let selectedTexts = [];

        $(".modifier-checkbox:checked").each(function () {
            selectedTexts.push($(this).next("label").text());
        });

      
        // Update dropdown button text based on selection
        if (selectedTexts.length === 0) {
            $("#modifierDropdown").html("Select Modifiers Groups(s)");
        } else if (selectedTexts.length === 1) {
            $("#modifierDropdown").html(`<span class="modifier-pill">${selectedTexts[0]}</span>`);
        } else {
            $("#modifierDropdown").html(
                `<span class="modifier-pill">${selectedTexts[0]}</span> 
                 <span class="modifier-count">+ ${selectedTexts.length - 1} others</span>`
            );
        }
  
    });


});



</script> *@

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>