@model pizzashop.Entity.ViewModels.AddModifierGroup;

<div class="modal fade modal-addModifiersGroup" id="addModifiersGroup" tabindex="-1" aria-labelledby="AddNewCategory"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModifiersGroup">Add Modifier Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add-MG-form">
                <div class="modal-body ">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Modifiergroupname" id="MGname"
                            placeholder="Category name" required>
                        <label for="MGname">Name*</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" asp-for="Description" placeholder="Add a Description of Xategory"
                            id="Description"></textarea>
                        <label for="Description">Description</label>
                    </div>

                    <a href="" class="select-existing">+ Add Existing
                        Modifiers </a>
                    <div class="ex-modifier mb-2"></div>


                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary sav-btn" id="add-MG"
                        >Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
