@model pizzashop.Entity.ViewModels.AddModifier;

<div class="modal fade" id="updateNewModifier" tabindex="-1" aria-labelledby="updateNewModifier" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateNewModifier">Update Modifier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="edit-modifier-form" method="post">

                <input type="hidden" asp-for=Modifierid>
         
                <div class="modal-body">

                    <!-- first row -->
                    <div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="MGid floatingSelect" asp-for=Modifiergroupid
                                            asp-items="Model.MGList">
                                            <option selected val="">Select Modifiers Groups(s)</option>
                                        </select>
                                        <label for="floatingSelect">Modifier</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="Modifiername"
                                            id="floatingInput" placeholder="Name" required>
                                        <label for="floatingInput">Name*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Rate"
                                        required asp-for="Rate">
                                    <label for="floatingInput">Rate*</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Quantity"
                                        required asp-for="Quantity">
                                    <label for="floatingInput">Quantity*</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 doted-border">
                                <div class="form-floating">
                                    <select class="form-select" id="Unitid floatingSelect" asp-for=Unitid
                                        asp-items="Model.Units">
                                        <option value="">Select Unit</option>
                                    </select>
                                    <label for="floatingSelect">Unit*</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container-fluid form-floating">
                        <textarea class="form-control" placeholder="Give Description of this Modifier"
                            id="floatingTextarea" asp-for="Description"></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>


                </div>


                <div class="modal-footer d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="edit-modifier">Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
