@{
    ViewData["Title"] = "Add User Page";
}

@model pizzashop.Entity.ViewModels.AddNewUser;

<link rel="stylesheet" href="~/css/AddNewUser.css" />

<div class="w-100 main-content px-lg-4 px-sm-4 px-4">

    <!-- heading text -->

    <div class="heading-back-button py-2">
        <div class="heading-text">
            <h1><b>Add New User</b></h1>
        </div>
        <div class="back-to-button">
            <a class="" asp-controller="User" asp-action="UserList">
                <button class="back-button"><span>
                        < Back</span></button>
            </a>
        </div>
    </div>

    <form class="form w-100" asp-action="AddNewUser" asp-controller="User" method="post" enctype="multipart/form-data">

        <!-- first row -->
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="First Name"
                                asp-for="Firstname">
                            <label for="floatingInput">First Name</label>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name"
                                asp-for="Lastname">
                            <label for="floatingInput">Last Name</label>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="User Name"
                                asp-for="Username">
                            <label for="floatingInput">User Name</label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Roleid" asp-items="Model.Roles">
                                <option value="">Select Role</option>
                            </select>
                            <label>Role</label>
                            <span asp-validation-for="Roleid" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="Email"
                                asp-for="Email">
                            <label for="floatingInput">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3 password">
                        <div class="form-floating position-relative">
                            <input type="password" class="form-control password" id="floatingInput"
                                placeholder="Password" asp-for="Password" value=@Model.Password>
                            <label for="floatingInput">Password</label>
                            <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        @* <div>
            <div class="container-fluid mb-3">
                <div class="row  file-upload ms-1 me-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-3"> *@

                        @* <div class="input-group d-flex justify-content-center align-items-center">
                        <!-- Button to trigger the file input -->
                        <button type="button" class="btn" id="inputGroupFileAddon04"
                        onclick="document.getElementById('inputGroupFile01').click();">
                        <img class="upload-icon" src="../images/cloud-arrow-up.svg" alt="Upload" />
                        <div class="d-flex justify-content-center align-items-center">
                        Browes file
                        </div>
                        </button>

                        <!-- Hidden file input -->
                        <input type="file" class="form-control" id="inputGroupFile01" style="display: none;"
                        aria-describedby="fileNameDisplay" asp-for="ProfilePicture"
                        onchange="this.nextElementSibling.textContent = this.files.length > 0 ? this.files[0].name : 'No
                        file selected';">
                        <span id="fileNameDisplay">No file selected</span>
                        </div> *@



                        @* <div class="input-group d-flex justify-content-center align-items-center">

                            <img src="@(string.IsNullOrEmpty(Model.Profileimg) ? " ../images/Default_pfp.svg.png" : Model.Profileimg)"
                                class="user-profile" id="profileImage" width="80px" height="80px"
                                style="border-radius: 50%; ">


                            <!-- Button to trigger the file input -->
                            <button type="button" class="btn" id="inputGroupFileAddon04"
                                onclick="document.getElementById('inputGroupFile01').click();">
                                <img class="upload-icon" src="~/images/cloud-arrow-up.svg" alt="Upload" />
                                <div class="d-flex justify-content-center align-items-center">
                                    Browse File
                                </div>
                            </button>

                            <!-- Hidden file input -->
                            <input type="file" class="form-control" id="inputGroupFile01" style="display: none;"
                                asp-for="ProfilePicture" onchange="validateFile(this);">

                            <!-- Display selected file name -->
                            <span id="fileNameDisplay" class="ms-2">No file selected</span>

                            <!-- ASP.NET Core Model Validation (only works after form submit) -->
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div> *@
@* 
                    </div>
                </div>
            </div>
        </div> *@

 <div class="container-fluid mb-3">
        <div class="d-flex align-items-center justify-content-center p-3 rounded flex-column pb-3"
            style="width: 100%;border-style: dashed;border:1px dashed #b3b3b3 ">
            <div class="d-flex flex-row"><!-- Image Preview (Initially Hidden) -->
                <img id="imagePreview" class="rounded mb-2" style=" display: none; border: 1px solid #ddd;"
                    height="100px">
            </div>


            <!-- Upload Icon (Initially Visible) -->
            <div class="align-self-center">
                <div id="upload-icon" onclick="document.getElementById('fileInput').click()" style="cursor: pointer;">
                    <i class="bi bi-cloud-arrow-up display-4 ps-2"></i>
                </div>
                <div class="d-flex flex-row">
                    <!-- File Name (Initially 'Browse File') -->
                    <span id="file-name" class="text-secondary text-truncate" style="max-width: 150px; cursor: pointer;"
                        onclick="document.getElementById('fileInput').click()">Browse File</span>

                    <i class="bi bi-trash text-danger ps-2" id="deleteFile" style="cursor: pointer; display: none;"
                        onclick="removeFile()"></i>
                </div>
            </div>
            <!-- Hidden File Input -->
            <input type="file" id="fileInput" name="file" accept="image/*" style="display: none;"
                onchange="previewFile(event)">
        </div>
 </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3">

                    <div class="form-floating">
                        <select class="form-select" id="Countryid" asp-for="Countryid" asp-items="Model.Countries">
                            <option value="">Select Country</option>
                        </select>
                        <label for="Countryid">Country</label>
                        <span asp-validation-for="Countryid" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3">

                    <div class="form-floating">
                        <select class="form-select" id="Stateid" asp-for="Stateid" asp-items="Model.States">
                            <option value="">Select State</option>
                        </select>
                        <label for="Stateid">State</label>
                        <span asp-validation-for="Stateid" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="Cityid" asp-for="Cityid" asp-items="Model.Cities">
                            <option value="">Select City</option>
                        </select>
                        <label for="Cityid">City</label>
                        <span asp-validation-for="Cityid" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zipcode"
                            asp-for="Zipcode">
                        <label for="floatingInput">Zipcode</label>
                        <span asp-validation-for="Zipcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Address"
                            asp-for="Address">
                        <label for="floatingInput">Address</label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="floatingInput" placeholder="Phone" asp-for="Phone">
                        <label for="floatingInput">Phone</label>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex gap-2  mt-sm-2">
            <button class="create-button" type="submit">
                Create USer
            </button>
            <a class="" asp-controller="User" asp-action="UserList">
                <button class="cancel-button" type="button">
                    Cancel
                </button>
            </a>


        </div>

    </form>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $(document).on("click", ".eye-icon", function () {
            let passwordInput = $(".password");
            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                $(this).removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
            }
            else {
                passwordInput.attr("type", "password");
                $(this).removeClass("bi-eye-fill").addClass("bi-eye-slash-fill");
            }
        });

        // When country is changed
        $("#Countryid").change(function () {
            var countryId = $(this).val();
            if (countryId) {
                $.get("/Location/GetStates?countryId=" + countryId, function (data) {
                    $("#Stateid").empty().append('<option value="">Select State</option>');
                    $("#Cityid").empty().append('<option value="">Select City</option>');
                    $.each(data, function (index, state) {
                        $("#Stateid").append('<option value="' + state.value + '">' + state.text + '</option>');
                    });
                });
            }
            else {
                $("#Stateid").empty().append('<option value="">Select State</option>');
                $("#Cityid").empty().append('<option value="">Select City</option>');
            }
        });


        function showToast(message) {
            toastr.options = {
                "progressBar": true,
                "timeOut": "2000"
            };
            toastr.warning(message);
        }


        $(document).on("click", "#Stateid", function () {
            let Countryid = $("#Countryid").val();
            if (Countryid === "") {
                showToast("Please select a country first!")
            }
        });


        $(document).on("click", "#Cityid", function () {
            let Countryid = $("#Countryid").val();
            let Stateid = $("#Stateid").val();

            if (Countryid === "") {
                showToast("Please select a Country first!")
            }
            else if (Stateid === "") {
                showToast("Please select a State first!")
            }

        });

        // When state is changed
        $("#Stateid").change(function () {
            var stateId = $(this).val();
            if (stateId) {
                $.get("/Location/GetCities?stateId=" + stateId, function (data) {
                    $("#Cityid").empty().append('<option value="">Select City</option>');
                    $.each(data, function (index, city) {
                        $("#Cityid").append('<option value="' + city.value + '">' + city.text + '</option>');
                    });
                });
            }
            else {
                $("#Cityid").empty().append('<option value="">Select City</option>');
            }
        });

    });
</script>

@* <script>
    function validateFile(input) {
        const allowedExtensions = ['jpg', 'jpeg', 'png', 'webp'];
        const fileName = input.files.length > 0 ? input.files[0].name : '';
  
        const fileExtension = fileName.split('.').pop().toLowerCase();
        const fileNameDisplay = document.getElementById('fileNameDisplay');

        if (input.files.length > 0) {
            if (!allowedExtensions.includes(fileExtension)) {
                fileNameDisplay.textContent = "Invalid file selected!";
                fileNameDisplay.classList.add('text-danger');
                input.value = ''; 
            } else {
                fileNameDisplay.textContent = fileName;
                fileNameDisplay.classList.remove('text-danger');
            }
        } else {
            fileNameDisplay.textContent = "No file selected";
        }
    }
</script> *@

@* <script>
    document.getElementById('inputGroupFile01').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profileImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script> *@

<script>


    function previewFile(event) {
        const fileInput = document.getElementById('fileInput');
        const uploadIcon = document.getElementById('upload-icon');
        const fileNameSpan = document.getElementById('file-name');
        const imagePreview = document.getElementById('imagePreview');
        const deleteFile = document.getElementById('deleteFile');

        if (fileInput.files && fileInput.files[0]) {
            const file = fileInput.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = "block"; // Show image
                uploadIcon.style.display = "none"; // Hide upload icon
                fileNameSpan.textContent = file.name; // Set file name
                deleteFile.style.display = "block"; // Show delete icon
            };

            reader.readAsDataURL(file);
        }
    }

    function removeFile() {
        const fileInput = document.getElementById('fileInput');
        const uploadIcon = document.getElementById('upload-icon');
        const fileNameSpan = document.getElementById('file-name');
        const imagePreview = document.getElementById('imagePreview');
        const deleteFile = document.getElementById('deleteFile');

        fileInput.value = ""; // Clear input
        uploadIcon.style.display = "block"; // Show upload icon again
        fileNameSpan.textContent = "Browse File"; // Reset text
        imagePreview.src = "";
        imagePreview.style.display = "none"; // Hide image
        deleteFile.style.display = "none"; // Hide delete icon
    }

</script>
