@{
    ViewData["Title"] = "Change Password Page";
}
@model pizzashop.Entity.ViewModels.ChangePassword;

<link rel="stylesheet" href="~/css/ChangePassword.css" />

<div class="container-fluid main-content px-5 mt-50px">
    <div class="heading-back-button py-2">
        <div class="heading-text">
            <h1><b>Change Password</b></h1>
        </div>
    </div>

    <div class="mt-4">
        <p class="instruction">Enter a new password to update your account credentials.</p>
        <form method="post" asp-controller="Profile" asp-action="ChagePassword" class="form d-flex flex-column gap-3 form-div ">
            @* <input type="hidden" asp-for="Userid"> *@
            <div>
                <div class="form-floating">
                    <input type="password" class="form-control" asp-for="OldPassword" id="floatingPassword" placeholder="Current Password" >
                    <label  for="floatingPassword">Password</label>
                      <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>


            <div>
                <div class="form-floating">
                    <input type="password" class="form-control" asp-for="Newpassword" id="floatingPassword" placeholder="New Password" >
                    <label for="floatingPassword">New Password</label>
                      <span asp-validation-for="Newpassword" class="text-danger"></span>
                </div>

            </div>

            <div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword"
                        placeholder="Confirm New Password" asp-for="ConfirmPassword">
                    <label for="floatingPassword">Confirm new Password</label>
                      <span  asp-validation-for="ConfirmPassword"class="text-danger"></span>
                </div>

            </div>


            <div class=" d-flex   gap-2  mt-sm-2">
                <button class="submit-button" type="submit">
                    Submit
                </button>
                <button class="cancel-button">
                    Cancel
                </button>

            </div>

        </form>
    </div>



</div>
