@{
    ViewData["Title"] = "Change Password Page";
}
@model pizzashop.Entity.ViewModels.ChangePassword;

<link rel="stylesheet" href="~/css/ChangePassword.css" />

<div class="container-fluid main-content px-5 mt-50px">
    <div class="heading-back-button py-2">
        <div class="heading-text">
            <h1><b>Change Password</b></h1>
        </div>
    </div>

    <div class="mt-4">
        <p class="instruction">Enter a new password to update your account credentials.</p>
        <form method="post" asp-controller="Profile" asp-action="ChagePassword" class="form d-flex flex-column gap-3 form-div ">
            @* <input type="hidden" asp-for="Userid"> *@
            <div>
                <div class="form-floating position-relative">
                    <input type="password" class="form-control password" asp-for="OldPassword" id="floatingPassword"
                        placeholder="Current Password">
                        <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i> 
                       <label for="floatingPassword">Password</label>
                </div>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>


            <div>
                <div class="form-floating position-relative">
                    <input type="password" class="form-control password" asp-for="Newpassword" id="floatingPassword"
                        placeholder="New Password">
                    <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i>
                    <label for="floatingPassword">New Password</label>
                </div>
                <span asp-validation-for="Newpassword" class="text-danger"></span>

            </div>

            <div>
                <div class="form-floating position-relative">
                    <input type="password" class="form-control password" id="floatingPassword"
                        placeholder="Confirm New Password" asp-for="ConfirmPassword">
                    <i class="eye-icon bi bi-eye-slash-fill custom-icon"></i>
                    <label for="floatingPassword">Confirm new Password</label>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>


            <div class=" d-flex   gap-2  mt-sm-2">
                <button class="submit-button" type="submit">
                    Submit
                </button>
                <a  class="" asp-controller="Home" asp-action="Index">
                    <button class="cancel-button" >
                        Cancel
                    </button>
                </a>
                

            </div>

        </form>
    </div>

</div>


<script>
    $(document).ready(function () {

        $(document).on("click", ".eye-icon", function () {

            let passwordInput = $(this).prev("input");
            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                $(this).removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
            }
            else {
                passwordInput.attr("type", "password");
                $(this).removeClass("bi-eye-fill").addClass("bi-eye-slash-fill");
            }
        });

    });
</script>