.heading-text {
    color: #087cc4;
}

.cancel-button {
    border: 1px solid #087cc4;
    border-radius: 5px;
    width: 80px;
}

.submit-button {
    border: none;
    background-color: #087cc4;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.form-div {
    width: 35%;
    margin-left: 15%;
}

.instruction {
    margin-left: 15%;
    color: grey;
}

.custom-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: var(--bs-secondary-color);
    padding-right: 3px;
}


@media screen and (max-width: 760px) {
    .form-div {
        width: 100%;
        margin-left: 0%;
    }

    .instruction {
        margin-left: 0%;
    }

}