
.orderapp-navbar
{
    height: 50px;
    background-color: #087cc4;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px;
    z-index: 100;
}

.orderapp-navbar .badge
{
    border: 1px solid #fff;
    height: 25px!important;
    border-radius: 10px!important;
}

.orderapp-navbar .active
{
    background-color:#4B9CD3!important;
}

