.main-container {
    min-height: 100vh;
    background-color: #e5e7eb;
    margin-top: 50px;
}


.orderapp-navbar {
    height: 50px;
    background-color: #087cc4;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px;
    z-index: 100;
}

.orderapp-navbar .badge {
    border: 1px solid #fff;
    height: 25px !important;
    border-radius: 10px !important;
}

.orderapp-navbar .active {
    background-color: #4B9CD3 !important;
}

.orderapp-navbar .profile-img {
    width: 40px;
    height: 40px;
    padding: 2px;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 3px; /* Adjust scrollbar height for horizontal scroll */
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.orderapp-navbar  .dropdown-menu{
    .dropdown-item {

        &:hover,
        &:focus {
            background-color: #f0f0f0;
        }

        &:active,
        &.active {
            background-color: #e0e0e0 !important;
            color: #000 !important;
        }
    }
}

.menu-icon .dropdown-menu-end {
  .dropdown-item {
    &:hover,
    &:focus {
      background-color: #f0f0f0;
    }

    &:active,
    &.active {
      background-color: #4b9cd35a!important;
      color: #000 !important;
    }
  }
}
