
.orderapp-navbar
{
    height: 50px;
    background-color: #087cc4;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px;
    z-index: 100;
}

.orderapp-navbar .badge
{
    border: 1px solid #fff;
    height: 25px!important;
    border-radius: 10px!important;
}

.orderapp-navbar .active
{
    background-color:#4B9CD3!important;
}

.main-container
{
    background-color: #e5e7eb;
    min-height: 100vh;
    margin-top: 50px;
}


.order-main-inner{
  padding:90px 40px 10px 40px;
}

.select-order-nav:hover {
  background: rgba(228, 228, 228, 0.3);
  color: #fff;
  border-color: #ebe8e8;
}

.select-order-nav :focus {
  background: rgba(228, 228, 228, 0.5);
  color: #fff;
  border-color: #ebe8e8;
}


.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border:1px solid #ffffff;
  display: inline-block;
}

.accordion-button {
  margin:10px;
  color: #000;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 50px;
  width:auto;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.accordion-button:not(.collapsed) {
  color: #0c63e4!important;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(173, 206, 255, 0.25);
}
  