.heading-text {
    color: #087cc4;
}

a.sort {
    text-decoration: none;
    color: grey;
}

.heading-back-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
}


.heading-back-button .back-to-button button {
    color: #087cc4;
    border-radius: 5px;
    border: 1px solid #087cc4;
    height: 40px;
    background-color: white;
    font-size: 18px;
}


.heading-back-button .back-to-button .back-button {
    color: white;
    border-radius: 5px;
    border: 1px solid #087cc4;
    height: 50px;
    background-color: #087cc4;
    font-size: 18px;
}

.o-details button {
    color: white;
    border-radius: 5px;
    border: 1px solid #087cc4;
    height: 40px;
    background-color: #087cc4;
    font-size: 15px;
    width: 100px;
}


.search-btn {
    color: white;
    border-radius: 5px;
    border: 1px solid #087cc4;
    height: 42px;
    width: 100px;
    background-color: #087cc4;
    font-size: 15px;
}

.clear-btn {
    color: #087cc4;
    border-radius: 5px;
    border: 1px solid #087cc4;
    height: 42px;
    width: 100px;
    background-color: white;
    font-size: 15px;
}

.filter {
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.main-content .bg-success {
    --bs-bg-opacity: 1;
    background-color: #77ab59 !important;
}

.main-content .edit-delet button {
    border: none;
    background: none;
}



.heading-back-button .back-to-button .custom-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--bs-secondary-color);
    padding-right: 3px;
}


.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: grey !important;
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)))
}

.order-detaile-container
    {
        padding-right: 5%;
        padding-left: 5%;
    }





@media screen and (max-width:540px) {

    .heading-back-button .back-to-button button {
        font-size: 10px;
        height: 30px;
    }

    .heading-back-button .back-to-button input {
        width: 90px;
    }

    .o-details button {
        width: 50px;
    }
    .order-detaile-container
    {
        padding-right: 0px;
        padding-left: 0px;
    }


}