.parent {
    min-height: 100vh;
}


.slider {
    width: 220px;
    background-color: white;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.appLogo {
    width: 75px;
    height: 65px;
}

.slider .appname a {
    text-decoration: none;
    color: #087cc4;
    font-size: 20px;
}

.slider .appname {
    display: flex;
    gap: 2px;
    margin-top: 10px;
}

.slider li {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.slider .svgs {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.slider .slider-content a {
    text-decoration: none;
    color: grey;
    width: 100%;
    padding: 10px;
}

.nav-main-content {
    min-height: 100vh;
    margin-left: 220px;
}

.nav-main-content .main-content {
    background-color: #e5e7eb;
    padding-top: 50px;
    min-height: 100vh;
    overflow: auto;
}

.my-header {
    height: 50px;
    background-color: #087cc4;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px;
    z-index: 100;
}

.slider {
    z-index: 200;
}

.my-header .profile-img {
    width: 40px;
    height: 40px;
    padding: 2px;
}

.slider .slider-content .active {
    color: #087cc4;
    background-color: lightgray;
}

.my-header .profile-dropdown .dropdown-item 
{
    color:grey;
}


@media screen and (max-width: 992px) {

    .offcanvas-lg {
        width: 220px !important;
    }

    .nav-main-content {
        margin-left: 0px;
    }

}