
.heading-text{
    color:#087cc4;
}


.heading-back-button{
display: flex;
align-items: center;
justify-content: space-between;

}

.heading-back-button .back-to-button button{
    color: #087cc4;
    border-radius: 5px;
    border: 1px solid #087cc4 ;
    height: 40px;
}

.form{
    padding: 20px;
    background-color: white;
}



.create-button{
    border: none;
    background-color: #087cc4;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.cancel-button{
    border: 1px solid #087cc4;
    border-radius: 5px;
    width: 80px;
}

.user-profile {
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.camera-icon {
    position: absolute;
    top: 95px;
    /* Adjust based on your profile image position */
    left: 105px;
    /* Adjust to align on the profile image */
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.camera-icon i {
    color: black;
}
.user-details
{
    padding-left: 160px;
    background-color: white;
}
