
.heading-text{
    color:#087cc4;
}

a.sort
{
    text-decoration: none;
    color: grey;
}

.heading-back-button{
display: flex;
align-items: center;
justify-content: space-between;
/* padding: 5px; */
}

.disabled-btn {
    opacity: 0.5;  /* Makes it look lighter */
    cursor: not-allowed; /* Shows a disabled cursor */
    pointer-events: none; /* Prevents clicks */
    background-color: #ccc; /* Light grey background */
    border: 1px solid #aaa; /* Light border */
}

.disabled-btn {
    opacity: 0.5;  /* Makes it look lighter */
    cursor: not-allowed; /* Shows a disabled cursor */
    pointer-events: none; /* Prevents clicks */
    background-color: #ccc; /* Light grey background */
    border: 1px solid #aaa; /* Light border */
}

.disabled-link {
    pointer-events: none; /* Disables clicking on the link */
    color: #aaa; /* Light grey color */
}



.heading-back-button .back-to-button button{
    color:white;
    border-radius: 5px;
    border: 1px solid #087cc4 ;
    height: 40px;
    background-color: #087cc4 ;
}

.user-profile{
    width: 30px;
    height: 30px;
}

.main-content .bg-success {
    --bs-bg-opacity: 1;
    background-color:	#77ab59 !important;
}

.main-content .edit-delet button{
    border: none;
    background: none;
}

.heading-back-button .back-to-button input{
    height: 41px;
  }
  

.heading-back-button .back-to-button .custom-icon {
     position: absolute;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);
     font-size: 1rem;
     color: var(--bs-secondary-color);
     padding-right: 3px;
 }

 .activestatus{
    background-color :#77ab59;
 }

 .inactivestatus
 {
    background-color: red;
 }



.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: grey!important;
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)))
}
.pagging input{
    width: 50px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  .pagging button{
      border: 1px solid black;
      border-radius: 5px;
      color: grey;
      width: 30px;
      background-color: white;
  }

@media screen and (max-width:540px)  {

    .heading-back-button .back-to-button button{
        height: 30px;
     }

     .heading-back-button .back-to-button input{
        width: 90px;
     }
     
    
}

.overflow-y-auto::-webkit-scrollbar {
  width: 3px; /* Adjust scrollbar width */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}