@model pizzashop.Entity.ViewModels.AssignTable;
<form id="assign-table-form">
    <div class="ms-2">
        <input type="hidden" class="waitingListId" asp-for="Waitingtokenid" />
        <div class="form-floating mb-3">
            <input type="email" class="form-control Email" placeholder="Email" asp-for="Email" required>
            <label for="Email">Email*</label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control Name" placeholder="Name" asp-for="Customername" required>
            <label for="Name">Name*</label>
            <span class="text-danger" asp-validation-for="Customername"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control Mobile_Number" placeholder="Mobile_Number" asp-for="Phoneno"
                required>
            <label for="Mobile_Number">Mobile Number*</label>
            <span class="text-danger" asp-validation-for="Phoneno"></span>
        </div>


        <div class="row">
            <div class=" col-xxl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control noOfPersons" placeholder="noOfPersons" value="0"
                        asp-for="Noofperson" required>
                    <label for="noOfPersons">No of Person(s)*</label>
                    <span class="text-danger" asp-validation-for="Noofperson"></span>
                </div>
            </div>

            <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                <div class="form-floating position-relative">
                    <div class="dropdown">
                        <button class="custom-select-dropdown" type="button" id="sectionDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Sections
                        </button>
                        <ul class="dropdown-menu w-100 m-2" aria-labelledby="sectionDropdown" >
                            @foreach (var sec in Model.SectionList)
                            {
                                <li>
                                    <div class="form-check ms-2">
                                        <input class="form-check-input section-checkbox" type="checkbox" value="@sec.Value"
                                            id="section-@sec.Value" disabled>
                                        <label class="form-check-label" for="section-@sec.Value">@sec.Text</label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center gap-3">
        <button class="btn btn-primary btn-sm Assign-customer-yes">Assign</button>
        <button class="btn cancle btn-sm" data-bs-dismiss="offcanvas">Cancel</button>
    </div>
</form>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>