@model pizzashop.Entity.ViewModels.AssignTable;
    <form id="assign-table-form">
<div class="ms-2">
    <input type="hidden" id="waitingListId" asp-for="Waitingtokenid"/>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="Email" placeholder="Email" asp-for="Email" required>
        <label for="Email">Email*</label>
        @* <span class="text-danger" asp-validation-for="Email"></span> *@
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Name" placeholder="Name" asp-for="Customername" required>
        <label for="Name">Name*</label>
        @* <span class="text-danger" asp-validation-for="Customername"></span> *@
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Mobile_Number" placeholder="Mobile_Number" asp-for="Phoneno"
            required>
        <label for="Mobile_Number">Mobile Number*</label>
        @* <span class="text-danger" asp-validation-for="Phoneno"></span> *@
    </div>


    <div class="row">
        <div class=" col-xxl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="noOfPersons" placeholder="noOfPersons" value="0"
                    asp-for="Noofperson" required>
                <label for="noOfPersons">No of Person(s)*</label>
                @* <span class="text-danger" asp-validation-for="Noofperson"></span> *@
            </div>
        </div>

        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
            <div class="form-floating mb-3">
                <select class="form-select" asp-for="Sectionid" id="Sectionid" asp-items="Model.SectionList">
                    <option value="">Select Section</option>
                </select>
                <label for="Sectionid">Section*</label>
                @* <span class="text-danger" asp-validation-for="Sectionid"></span> *@
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end align-items-center gap-3">
    <button class="btn btn-primary btn-sm Assign-customer-yes">Assign</button>
    <button class="btn cancle btn-sm">Cancel</button>
</div>
</form>
