@using static pizzashop.Entity.Models.Enums
@model pizzashop.Entity.ViewModels.AddTax;

<div class="modal fade modal" id="editTax" tabindex="-1" aria-labelledby="editTax" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTax">Edit Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form id="edit-tax-form">
<input type="hidden" asp-for="Taxid">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Taxname" placeholder="Category" 
                                    required asp-for=Taxname>
                                <label for="Taxname">Name*</label>
                                  <span class="text-danger" asp-validation-for="Taxname"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-xxl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating mb-3">
                                <select asp-for="taxtype" asp-items="Html.GetEnumSelectList<taxtype>()"
                                    class="form-select">
                                    <option value="">Tax Type</option>
                                </select>
                                <label for="floatingInput">Status*</label>
                                   <span class="text-danger" asp-validation-for="taxtype"></span>
                            </div>

                        </div>

                        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Taxvalue" placeholder="" 
                                    asp-for=Taxvalue required>
                                <label for="Taxvalue">Tax Amount*</label>
                                 <span class="text-danger" asp-validation-for="Taxvalue"></span>
                                    <span class="tex-value text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 add-tax">
                       <div class="form-check form-switch d-flex gap-2 align-items-center justify-content-start ms-0">
                            <input class="form-check-input " type="checkbox" role="switch" asp-for=Isenabled id="Isenabled">
                             <label class="form-check-label" for="Isenabled">IsEnabled</label>
                         </div>
                       <div class="form-check form-switch d-flex gap-2 align-items-center justify-content-start">
                             <input class="form-check-input" type="checkbox" role="switch"
                                 asp-for=Isdefault id="Isdefault">
                            <label class="form-check-label" for="Isdefault">Default</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer ">
                <button type="button " class="btn btn-primary sav-btn" id="edit-tax-yes">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
            
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

