@{
    ViewData["Title"] = "User page";
}

<link rel="stylesheet" href="~/css/TaxesAndFees.css" />


<div class="w-100 main-content px-lg-5 px-sm-4 px-4" id="tax-table">

    <!-- heading text -->

    <div class="w-100 heading-back-button d-block d-md-flex align-items-center justify-content-md-between p-2">
        <div class="heading-text">
            <h1><b>Taxes/Fees</b></h1>
        </div>
        <div class="back-to-button d-flex gap-1 gap-sm-3 align-items-center justify-content-end">
            <div class="position-relative">
                <input class="search form-control me-2 border-0" id="searchTax" type="search" placeholder="Search"
                    aria-label="Search">
                <i class="bi bi-search custom-icon"></i>
            </div>
            <a class="add-tax">
                <button class="back-button">
                    <span><i class="bi bi-plus"></i><span class="d-none d-sm-inline">Add Tax</span></span>
                </button>
            </a>
        </div>
    </div>

    <div id="table-container"></div>
</div>

<div class="modal-add-tax"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        let currentPage = @ViewBag.CurrentPage;
        let searchQuery = "@ViewBag.SearchQuery" || "";

        loadUserTable(1);

        function loadUserTable(page) {
            let pageSize = $("#pageSizeTax").val();
            let search = $("#searchTax").val();

            $.ajax({
                url: "/TaxesAndFees/TaxesAndFees",
                type: "GET",
                data: { page: page, pageSize: pageSize, search: search },
                success: function (data) {
                    $("#table-container").html(data);
                    currentPage = page;
                },
                error: function () {
                    alert("Failed to load data.");
                }
            });
        }

        $("#tax-table").on("click", ".pagination-link", function (e) {
            console.log("in paggination");
            e.preventDefault();
            let page = $(this).data("page");

            if (page > 0) {
                loadUserTable(page);
            }
        });

        $("#tax-table").on("change", "#pageSizeTax", function () {
            loadUserTable(1);
        });

        // Trigger search on input change (with delay to prevent excessive calls)

        let searchTimer;
        $("#searchTax").on("input", function () {
            var element = $(".custom-icon");
            element.addClass("d-none");
            clearTimeout(searchTimer);
            searchTimer = setTimeout(function () {
                loadUserTable(1); // Reset to page 1 when searching
            }, 500); // 500ms delay to avoid excessive requests
            searchcross();
        });


        $(".add-tax").click(function (e) {
            e.preventDefault();
            var MGId = $(this).data("modifiergroupid");


            $.ajax({
                url: "/TaxesAndFees/AddTax",
                type: "GET",
                success: function (data) {
                    $(".modal-add-tax").html(data);
                    $("#addNewTax").modal("show");
                },
                error: function () {
                    console.error("Error in update mg", error);
                }
            });

        });


        @* add new tax post *@
            $(document).on("click", "#add-tax", function (e) {
                e.preventDefault();

                if ($("#add-tax-form").valid()) {
                    var formData = new FormData($("#add-tax-form")[0]);

                    var taxtype = formData.get("taxtype");
                    var taxValue = parseInt(formData.get("Taxvalue"));
                    if (taxtype === "0" && (taxValue <= 0 || taxValue > 100)) {
                        $(".tex-value").text("Percentage tax value must be between 0 and 100")
                    }
                    else {

                        $.ajax({
                            url: "/TaxesAndFees/AddTaxPost",
                            type: "POST",
                            data: formData,
                            processData: false,
                            contentType: false,
                            dataType: 'json',
                            success: function (response) {
                                if (response.success) {
                                    $("#add-tax-form")[0].reset();
                                    $("#addNewTax").modal("hide");
                                    loadUserTable(1);
                                     toastr.success("Tax Added Succesfully.");
                                }
                                else {
                                    toastr.error("This Tax name is already exist.");
                                }
                            },
                            error: function (error) {
                                console.error("Error in add Section", error);
                            }
                        });
                    }
                }
            });

        @* edit tax post *@

            $(document).on("click", "#edit-tax-yes", function (e) {
                e.preventDefault();

                if ($("#edit-tax-form").valid()) {

                    var formData = new FormData($("#edit-tax-form")[0]);

                    var taxtype = formData.get("taxtype");
                    var taxValue = parseInt(formData.get("Taxvalue"));
                    if (taxtype === "0" && (taxValue <= 0 || taxValue > 100)) {
                        $(".tex-value").text("Percentage tax value must be between 0 and 100")
                    }
                    else {

                        $.ajax({
                            url: "/TaxesAndFees/EditTaxPost",
                            type: "POST",
                            data: formData,
                            processData: false,
                            contentType: false,
                            dataType: 'json',
                            success: function (response) {
                                if (response.success) {
                                    $("#editTax").modal("hide");
                                    loadUserTable(1);
                                     toastr.success("Tax Updated Succesfully.");
                                }
                                else {
                                    toastr.error("This Tax name is already exist.");
                                }
                            },
                            error: function (error) {
                                console.error("Error updating tax:", error);
                            }
                        });
                    }
                }

            });

        @* Delete tax *@

            $(document).on("click", ".delete-tax", function (e) {
                var taxid = $("#hidden").val();

                $.ajax({
                    url: "/TaxesAndFees/DeleteTax",
                    type: "POST",
                    data: { id: taxid },
                    success: function (response) {
                        loadUserTable(1);
                         toastr.success("Tax Deleted Succesfully.");
                    },
                    error: function (error) {
                        console.error("Error in delete tax:", error);
                    }
                });

            });

        @* cross in search *@
            function searchcross() {
                let search = $("#searchTax").val();
                if (search === "") {
                    var element = $(".custom-icon");
                    element.removeClass("d-none");
                }
            }

        @* enable button update *@

            $(document).on("click", ".enable-switch", function (e) {
                var taxid = $(this).data("taxid")

                var enable = $(this).is(":checked");

                $.ajax({
                    url: "/TaxesAndFees/UpdateEnable",
                    type: "POST",
                    data: { id: taxid, enable: enable },
                    success: function (response) {
                        if (response.success)
                            toastr.success("Tax Enable Updated Succesfully.")
                        loadUserTable(1);
                    },
                    error: function (error) {
                        console.error("Error in delete tax:", error);
                    }
                });

            });


    });

</script>
